/* Basic Styles */
body {
    font-family: "Newsreader", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #800000;
}

header {
    background-color: #F2E8C6;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    max-width: 825px;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

nav a {
    color: #800000;
    margin: 0 1em;
    text-decoration: solid;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: #F2E8C6;
    background-color: #800000;
    padding: 0.5em 1em;
    border-radius: 8px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_links {
    padding: 0 10px;
    border-bottom: 2px solid transparent; /* Default state with no line */
}

nav a#currentwebsite {
    border-bottom: 5px solid #800000;
  }

main {
    background-color: #F2E8C6;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 775px;
}


.boxforimages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* Allow the boxes to take up equal space */
    max-width: 100%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #800000;
    /* Background color for each box */
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 0.5em;
    /* Padding inside the box */
}

.boxforimages img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.sidebarimage:hover {
    box-shadow: 0 0 50px #800000;
}

.visitnum {
    color: white;
    text-align: center;
}

main h2 {
    color: #F2E8C6;
}

a {
    text-decoration: none;
    color: #F2E8C6;
    font-weight: bold;
}

.box {
    background-color: #F2E8C6;
    /* Change this to your preferred color */
    padding: 1em;
    /* Add padding inside the box */
    margin: 1em 0;
    /* Space between each box */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    max-width: 700px;
}

.hero_container {
    display: flex;
    /* Align items vertically */
    align-items: center;
    justify-content: space-between;
    /* Add space between the items */
    padding: 1em;
    /* Adjust padding as needed */
    background-color: #800000;
    /* Change this to your preferred color */
    color: #F2E8C6;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    /* Ensure flex items wrap when the container width is reduced */
}

.hero_image {
    flex: 1;
    /* Take up equal space */
    margin-right: 1em;
    /* Space between image and text */
    max-width: 100%;
    /* Restrict maximum width */
}

.about_rexburg_text {
    flex: 1;
    /* Take up equal space */
    max-width: 50%;
    /* Restrict maximum width */
    padding-right: 5%;
}

.hero_image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for the image */
    max-width: 80%;
    /* Restrict maximum width */
}

.scoot_images {
    text-align: center;
    /* Center the heading */
    background-color: #800000;
    /* Main box background color */
    color: #800000;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image_container {
    display: flex;
    justify-content: space-between;
    /* Space between the image boxes */
}

.image_box {
    /* flex: 1; */
    /* Allow the boxes to take up equal space */
    max-width: 100%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #F2E8C6;
    /* Background color for each box */
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 0.5em;
    /* Padding inside the box */
}

.image_box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for the images */
}

.rexburg_questions {
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: flex-start;
    /* Align items to the start */
    background-color: #800000;
    /* Change this to your preferred color */
    color: #F2E8C6;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rexburg_questions h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
}

.rexburg_questions ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    width: 100%;
    /* Ensure the list takes up the full width */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.rexburg_questions li {
    width: 50%;
    /* Each list item takes up 50% of the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    padding: 0.5em;
    /* Add padding for spacing */
}

.rexburg_questions h3 {
    margin: 0 0 0.5em 0;
    /* Space between question and answer */
}

.rexburg_questions p {
    margin: 0 0 1em 0;
    /* Space between answers */
}

.list_of_organizations {
    background-color: #800000;
    /* Main box background color */
    color: #F2E8C6;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the heading */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the content horizontally */
}

.list_of_organizations h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
}

.list_of_organizations ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    justify-content: center;
    /* Center the list items */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.list_of_organizations li {
    width: 25%;
    /* Each list item takes up less than half the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    margin: 0.5em;
    /* Space between list items */
    text-align: left;
    /* Align text to the left */
}

.versions-section {
    background-color: #800000;
    /* Main box background color */
    color: #F2E8C6;
    padding: 1em;
    margin: 1em 0 0.5em 0;
    /* Adjusted margin-bottom */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the heading */
}

.versions-section h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the boxes */
}

.versions-container {
    display: flex;
    justify-content: space-around;
    /* Space between the boxes */
    width: 100%;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* max-width:300px; */
}

.version-box {
    flex: 1;
    /* Allow the boxes to take up equal space */
    max-width: 32%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #F2E8C6;
    /* Background color for each box */
    color: #800000;
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 1em;
    /* Padding inside the box */
    word-wrap: break-word;
    max-width: 300px;
}

.join_us {
    margin-top: 1em;
    /* Space between the boxes and the button */
    font-size: large;
}

.join_us a {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: #800000;
    color: #F2E8C6;
    font-weight: bold;
    cursor: pointer;
}

.join_us a:hover {
    background-color: #F2E8C6;
    color: #800000;
}

.darkmode {
    border: none;
    border-radius: 4px;
    background-color: #F2E8C6;
    color: #800000;
    font-weight: bold;
    cursor: pointer;
}

p {
    word-wrap: break-word;
    /* Alternatively, you can use white-space: normal; */
    /* white-space: normal; */
    text-decoration: none;
}

.foot_box {
    background-color: #F2E8C6;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    max-width: 825px;
    margin: 0.25em auto;
    /* Center horizontally */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foot_nav a {
    color: #800000;
    margin: 0 1em;
    text-decoration: solid;
    font-weight: bold;
}

.foot_nav a:hover {
    text-decoration: none;
    color: #F2E8C6;
    background-color: #800000;
    padding: 0.5em 1em;
    border-radius: 8px;
}

footer {
    background-color: #800000;
    color: #F2E8C6;
    width: 100%;
    padding: 1em 0;
    margin-top: auto;
    text-align: center;
    margin: 1em;
    border-radius: 8px;
}

.hero-container,
.hero_image .about_rexburg_text .facts_and_history,
.rexburg_images,
.rexburg_events,
.rexburg_questions,
.list_of_organizations,
.versions-section {
    flex-direction: column;
    align-items: center;
}


.hamburger_menu {
    display: none;
    /* Hide by default */
}


/*dark mode*/
.dark-mode {
    color: black;
    background-color: white;
}

body.dark-mode,
footer.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .hero_container,
body.dark-mode .facts_and_history,
body.dark-mode .rexburg_images,
body.dark-mode .rexburg_events,
body.dark-mode .rexburg_questions,
body.dark-mode .list_of_organizations,
body.dark-mode .versions-section,
body.dark-mode .version-box,
body.dark-mode .foot_box,
body.dark-mode .foot_links,
body.dark-mode .join_us
body.dark-mode .thankyou {
    background-color: black;
    color: white;
}

body.dark-mode .thankyou {
    border-radius: 8px;
    padding: 1px;
}

body.dark-mode .titlehead {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 1em;
}

body.dark-mode nav a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 8px;
}

.body.dark-mode button {
    background-color: black;
    color: white;
}

body.dark-mode .join_us a {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: black;
    /* Black background */
    color: white;
    /* White text */
    font-weight: bold;
    cursor: pointer;
}

body.dark-mode .join_us a:hover {
    background-color: white;
    /* White background on hover */
    color: black;
    /* Black text on hover */
}

.body.dark-mode .foot_nav a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 8px;
}

.submit {
    background-color: #F2E8C6;
    color: #800000;

}

.submit:hover {
    background-color: #800000;
    color: #F2E8C6;
}

.pform {
    color: #F2E8C6;
}

main.feildset {
    background-color: #800000;
}

.forminfo {
    background-color: #F2E8C6;
    color: #800000;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}

.forminfobox {
    background-color: #800000;
    border-radius: 8px;
}

.formh2 {
    background-color: #800000;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formh2info {
    color: #800000;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forminfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* Optional: Add padding for spacing */
}

.forminfo label {
    display: block;
    /* Make labels block-level */
    margin-bottom: 5px;
    /* Add space between labels and inputs */
}

.forminfo input {
    display: block;
    /* Make inputs block-level */
    width: 100%;
    /* Make inputs take full width */
    box-sizing: border-box;
    /* Include padding and border in width */
    margin-bottom: 10px;
    /* Add space between input elements */
    padding: 2%;
}

.memver {
    background-color: #800000;
    padding: 2%;
    border-radius: 8px;
}

label {
    font-size: 18px;
    font-weight: bolder;
}

input {
    background-color: #800000;
    color: #F2E8C6;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px
}

input::placeholder {
    color: #F2E8C6;
}

.formedition {
    background-color: #F2E8C6;
    color: #800000;
    border-radius: 8px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 20px;
    /* Optional: Adds spacing between the columns */
}

.right {
    align-items: start;
}

.formedition p {
    background-color: #800000;
    /* Light background for the box */
    color: #F2E8C6;
    padding: 10px;
    /* Space inside the box */
    margin-bottom: 10px;
    /* Space between the boxes */
    border-radius: 8px;
    /* Rounded corners for a cleaner look */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a shadow for depth */
    max-width: 200px;
}

.radio-box {
    display: flex;
    /* Enable Flexbox layout */
    flex-direction: column;
    /* Stack items vertically */
    align-items: flex-start;
    /* Align items to the left */
    gap: 10px;
    /* Add space between radio buttons */
}

#textbox {
    padding-top: 40px;
}



#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #800000;
    color: #F2E8C6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.company-card {
    background-color: #F2E8C6;
    color: #800000;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-card img {
    width: 90%;
    height: auto;
    padding: 10px;
}

.company-card h2,
.company-card p,
.company-card a {
    color: #800000;
    margin: 3px 0;
}

.list-view .company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2E8C6;
    padding: 8px 16px;
    margin-bottom: 10px;
    width: 85%;
    height: 150px;
}

.list-view .company-card.short {
    width: 100%;
}

.list-view .company-card h2,
.list-view .company-card p,
.list-view .company-card a {
    margin: 5px 0;
}

.list-view .company-card img {
    display: none;
}

.dirmenu button {
    text-decoration: none;
    color: #800000;
    background-color: #F2E8C6;
    padding: 0.5em 1em;
    border: #800000;
    border-radius: 8px;
    font-weight: bolder;
}

.dirmenu button:hover {
    text-decoration: none;
    color: #F2E8C6;
    background-color: #800000;
    padding: 0.5em 1em;
    border-radius: 8px;
}



#forecast-container {
    display: flex;
    /* Enables Flexbox for horizontal alignment */
    gap: 1rem;
    /* Adds spacing between the forecast cards */
    justify-content: center;
    /* Centers the items horizontally */
}

.forecast-day {
    background-color: #F2E8C6;
    /* Light background for better visibility */
    color: #800000;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    min-width: 100px;
    /* Fixes the width of each day's forecast card */
}

.forecast-day img {
    max-width: 100%;
    /* Ensures the weather icon scales properly */
}


#banner {
    display: none;
}

#banner.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2E8C6;
    color: #800000;
    border-radius: 8px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    font-weight: bold;
}

#close {
    border: none;
    background: none;
    color: #800000;
    font-size: 15px;
    font: bolder;
    padding: 5px;
    padding-bottom: 3px;
    font-weight: bolder;
}

#close:hover {
    color: #F2E8C6;
    background-color: #800000;
    border-radius: 8px;
}