@media (max-width: 600px) {
    header {
        min-height: 100px;
    }

    
    nav {
        display: flex;
        justify-content: center;
        /* Center the content horizontally */
        align-items: center;
        /* Center the content vertically */
        height: 60px;
        /* Adjust height as needed */
    }

    nav ul {
        display: none;
        /* Hide nav links on small screens */
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.show {
        display: flex;
        /* Show nav links when hamburger is clicked */
        padding-top: 25px;
    }

    .hamburger_menu {
        display: block;
        /* Show hamburger menu on small screens */
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #ce5661;
        /* Background color */
        color: #d4c4ba;
        /* Text color */
        border: none;
        /* Remove border */
        padding: 15px 32px;
        /* Add padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove underline from text */
        display: inline-block;
        /* Display as inline-block */
        font-size: 16px;
        /* Font size */
        margin: 4px 2px;
        /* Add margin */
        cursor: pointer;
        /* Change cursor on hover */
        border-radius: 8px;
    }

    .nav_list a {
        padding: 4px 0;
    }

    .nav_list {
        display: none;
        /* Hide menu by default */
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjust the link spacing */
    .nav_links {
        display: block;
        /* Ensure each link is on a new line */
        padding: 3px 0;
        /* Adjust as needed for vertical spacing */
        text-align: center;
        /* Centers the text */
    }

    .nav_links:hover {
        
    }

    .nav_list.show {
        display: block;
    }

    .hero_container {
        align-items: center;
        flex-direction: column;
        padding-left: 2em;
    }

    .image_container {
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
    }
}
