body {
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

main {
    padding: 20px;          /* Adds some padding inside the border */
    box-shadow: 0 0 30px #777;
}

section {
    margin: 0.25rem;
    padding: 0.75rem;
    background-color: lavender;
    border: 1px solid darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

img {
    width: 75%;
    height: auto;
    box-shadow: 0 0 25px #777;
}

h1, h2 {
    color: darkslateblue;
    margin-top: 5px; /* Adjust to your preference */
    margin-bottom: 5px; /* Adjust to your preference */
    align-items: center;
}

p {
    margin-top: 5px; /* Adjust to your preference */
    margin-bottom: 5px; /* Adjust to your preference */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

