/* Basic Styles */
body {
    font-family: "Newsreader", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #0D1B2A;
}

header {
    background-color: #E0E1DD;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    max-width: 825px;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

nav a {
    color: #0D1B2A;
    margin: 0 1em;
    text-decoration: solid;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: #E0E1DD;
    background-color: #0D1B2A;
    padding: 0.5em 1em;
    border-radius: 8px;
}

.navlist {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlinks {
    padding: 0 10px;
}

main {
    background-color: #E0E1DD;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 775px;
}

.sideproject {}

.sidebarthing {
    height: 100%;
    width: 240px;
    position:static;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E0E1DD;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.boxforimages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* Allow the boxes to take up equal space */
    max-width: 100%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #0D1B2A;
    /* Background color for each box */
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 0.5em;
    /* Padding inside the box */
}

.boxforimages img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.sidebarimage:hover {
    box-shadow: 0 0 50px #0D1B2A;
}

.visitnum {
    color: white;
    text-align: center;
}

main h2 {
    color: #E0E1DD;
}

a {
    text-decoration: none;
    color: #E0E1DD;
    font-weight: bold;
}

/* a:hover {
    text-decoration: none;
    color: #0D1B2A;
    background-color: #E0E1DD;
    padding: 0.5em 1em;
    border-radius: 8px;
} */

/* General box styling */
.box {
    background-color: #E0E1DD;
    /* Change this to your preferred color */
    padding: 1em;
    /* Add padding inside the box */
    margin: 1em 0;
    /* Space between each box */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    max-width: 700px;
}

.hero_container {
    display: flex;
    /* Align items vertically */
    align-items: center;
    justify-content: space-between;
    /* Add space between the items */
    padding: 1em;
    /* Adjust padding as needed */
    background-color: #0D1B2A;
    /* Change this to your preferred color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    /* Ensure flex items wrap when the container width is reduced */
}

.hero_image {
    flex: 1;
    /* Take up equal space */
    margin-right: 1em;
    /* Space between image and text */
    max-width: 100%;
    /* Restrict maximum width */
}

.about_rexburg_text {
    flex: 1;
    /* Take up equal space */
    max-width: 50%;
    /* Restrict maximum width */
    padding-right: 5%;
}

.hero_image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for the image */
    max-width: 80%;
    /* Restrict maximum width */
}

.facts_and_history {
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: flex-start;
    /* Align items to the start */
    background-color: #0D1B2A;
    /* Change this to your preferred color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the text within the section */
}



.facts_and_history h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
    text-align: center;
    /* Center-align the heading text */
}

.facts_and_history ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    width: 100%;
    /* Ensure the list takes up the full width */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.facts_and_history li {
    width: 50%;
    /* Each list item takes up 50% of the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    padding: 0.5em;
    /* Add padding for spacing */
}

.rexburg_images {
    text-align: center;
    /* Center the heading */
    background-color: #0D1B2A;
    /* Main box background color */
    color: #0D1B2A;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: space-between;
    /* Space between the image boxes */
}

.image-box {
    /* flex: 1; */
    /* Allow the boxes to take up equal space */
    max-width: 100%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #E0E1DD;
    /* Background color for each box */
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 0.5em;
    /* Padding inside the box */
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for the images */
}

.rexburg_events {
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: flex-start;
    /* Align items to the start */
    background-color: #0D1B2A;
    /* Change this to your preferred color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the text within the section */
}

.rexburg_events h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
    text-align: center;
    /* Center-align the heading text */
}

.rexburg_events ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    width: 100%;
    /* Ensure the list takes up the full width */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.rexburg_events li {
    width: 50%;
    /* Each list item takes up 50% of the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    padding: 0.5em;
    /* Add padding for spacing */
}

.rexburg_questions {
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: flex-start;
    /* Align items to the start */
    background-color: #0D1B2A;
    /* Change this to your preferred color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rexburg_questions h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
}

.rexburg_questions ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    width: 100%;
    /* Ensure the list takes up the full width */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.rexburg_questions li {
    width: 50%;
    /* Each list item takes up 50% of the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    padding: 0.5em;
    /* Add padding for spacing */
}

.rexburg_questions h3 {
    margin: 0 0 0.5em 0;
    /* Space between question and answer */
}

.rexburg_questions p {
    margin: 0 0 1em 0;
    /* Space between answers */
}

.list_of_organizations {
    background-color: #0D1B2A;
    /* Main box background color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the heading */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the content horizontally */
}

.list_of_organizations h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the list */
}

.list_of_organizations ul {
    display: flex;
    flex-wrap: wrap;
    /* Allow the list items to wrap */
    justify-content: center;
    /* Center the list items */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove default list styling */
}

.list_of_organizations li {
    width: 25%;
    /* Each list item takes up less than half the container width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    margin: 0.5em;
    /* Space between list items */
    text-align: left;
    /* Align text to the left */
}

.versions-section {
    background-color: #0D1B2A;
    /* Main box background color */
    color: #E0E1DD;
    padding: 1em;
    margin: 1em 0 0.5em 0;
    /* Adjusted margin-bottom */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center the heading */
}

.versions-section h2 {
    width: 100%;
    /* Ensure the heading takes up the full width */
    margin-bottom: 1em;
    /* Space between the heading and the boxes */
}

.versions-container {
    display: flex;
    justify-content: space-around;
    /* Space between the boxes */
    width: 100%;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* max-width:300px; */
}

.version-box {
    flex: 1;
    /* Allow the boxes to take up equal space */
    max-width: 32%;
    /* Limit the max width to create space between boxes */
    margin: 0.5em;
    /* Space around each box */
    background-color: #E0E1DD;
    /* Background color for each box */
    color: #0D1B2A;
    border-radius: 8px;
    /* Rounded corners for the boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 1em;
    /* Padding inside the box */
    word-wrap: break-word;
    max-width: 300px;
}

.join_us {
    margin-top: 1em;
    /* Space between the boxes and the button */
    font-size: large;
}

.join_us button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: #0D1B2A;
    color: #E0E1DD;
    font-weight: bold;
    cursor: pointer;
}

.join_us button:hover {
    background-color: #E0E1DD;
    color: #0D1B2A;
}

.darkmode {
    border: none;
    border-radius: 4px;
    background-color: #E0E1DD;
    color: #0D1B2A;
    font-weight: bold;
    cursor: pointer;
}

p {
    word-wrap: break-word;
    /* Alternatively, you can use white-space: normal; */
    /* white-space: normal; */
    text-decoration: none;
}

.foot_box {
    background-color: #E0E1DD;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    max-width: 825px;
    margin: 0.25em auto;
    /* Center horizontally */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foot_nav a {
    color: #0D1B2A;
    margin: 0 1em;
    text-decoration: solid;
    font-weight: bold;
}

.foot_nav a:hover {
    text-decoration: none;
    color: #E0E1DD;
    background-color: #0D1B2A;
    padding: 0.5em 1em;
    border-radius: 8px;
}

footer {
    background-color: #0D1B2A;
    color: #E0E1DD;
    width: 100%;
    padding: 1em 0;
    margin-top: auto;
    text-align: center;
    margin: 1em;
    border-radius: 8px;
}

.hero-container,
.hero_image .about_rexburg_text .facts_and_history,
.rexburg_images,
.rexburg_events,
.rexburg_questions,
.list_of_organizations,
.versions-section {
    flex-direction: column;
    align-items: center;
}


.hamburger-menu {
    display: none;
    /* Hide by default */
}


/*dark mode*/
.dark-mode {
    color: black;
    background-color: white;
}

body.dark-mode,
footer.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .hero_container,
body.dark-mode .facts_and_history,
body.dark-mode .rexburg_images,
body.dark-mode .rexburg_events,
body.dark-mode .rexburg_questions,
body.dark-mode .list_of_organizations,
body.dark-mode .versions-section,
body.dark-mode .version-box,
body.dark-mode .thankyou {
    background-color: black;
    color: white;
}

body.dark-mode .thankyou {
    border-radius: 8px;
    padding: 1px;
}

body.dark-mode .titlehead {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 1em;
}

body.dark-mode nav a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 8px;
}

.body.dark-mode button {
    background-color: black;
    color: white;
}

body.dark-mode .join_us button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: black;
    /* Black background */
    color: white;
    /* White text */
    font-weight: bold;
    cursor: pointer;
}

body.dark-mode .join_us button:hover {
    background-color: white;
    /* White background on hover */
    color: black;
    /* Black text on hover */
}

.body.dark-mode .foot_nav a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 8px;
}



main.feildset {
    background-color: #0D1B2A;
}

.forminfo {
    background-color: #E0E1DD;
    color: #0D1B2A;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}

.forminfobox {
    background-color: #0D1B2A;
    border-radius: 8px;
}

.formh2 {
    background-color: #0D1B2A;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formh2info {
    color: #0D1B2A;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forminfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* Optional: Add padding for spacing */
}

.forminfo label {
    display: block;
    /* Make labels block-level */
    margin-bottom: 5px;
    /* Add space between labels and inputs */
}

.forminfo input {
    display: block;
    /* Make inputs block-level */
    width: 100%;
    /* Make inputs take full width */
    box-sizing: border-box;
    /* Include padding and border in width */
    margin-bottom: 10px;
    /* Add space between input elements */
    padding: 2%;
}

.memver {
    background-color: #0D1B2A;
    padding: 2%;
    border-radius: 8px;
}

label {
    font-size: 18px;
    font-weight: bolder;
}

input {
    background-color: #0D1B2A;
    color: #E0E1DD;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px
}

input::placeholder {
    color: #E0E1DD;
}

.formedition {
    background-color: #E0E1DD;
    color: #0D1B2A;
    border-radius: 8px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 20px;
    /* Optional: Adds spacing between the columns */
}

.left {

    /* Adjusts to take equal space with .right */
}

.right {
    align-items: start;
}

.formedition p {
    background-color: #0D1B2A;
    /* Light background for the box */
    color: #E0E1DD;
    padding: 10px;
    /* Space inside the box */
    margin-bottom: 10px;
    /* Space between the boxes */
    border-radius: 8px;
    /* Rounded corners for a cleaner look */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a shadow for depth */
    max-width: 200px;
}

.radio-box {
    display: flex;
    /* Enable Flexbox layout */
    flex-direction: column;
    /* Stack items vertically */
    align-items: flex-start;
    /* Align items to the left */
    gap: 10px;
    /* Add space between radio buttons */
}

#textbox {
    padding-top: 40px;
}



#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #0D1B2A;
    color: #E0E1DD;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.company-card {
    background-color: #E0E1DD;
    color: #0D1B2A;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-card img {
    width: 90%;
    height: auto;
    padding: 10px;
}

.company-card h2,
.company-card p,
.company-card a {
    color: #0D1B2A;
    margin: 3px 0;
}

.list-view .company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0E1DD;
    padding: 8px 16px;
    margin-bottom: 10px;
    width: 85%;
    height: 150px;
}

.list-view .company-card.short {
    width: 100%;
}

.list-view .company-card h2,
.list-view .company-card p,
.list-view .company-card a {
    margin: 5px 0;
}

.list-view .company-card img {
    display: none;
}

.dirmenu button {
    text-decoration: none;
    color: #0D1B2A;
    background-color: #E0E1DD;
    padding: 0.5em 1em;
    border: #0D1B2A;
    border-radius: 8px;
    font-weight: bolder;
}

.dirmenu button:hover {
    text-decoration: none;
    color: #E0E1DD;
    background-color: #0D1B2A;
    padding: 0.5em 1em;
    border-radius: 8px;
}

@media (max-width: 500px) {
    #cards {
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}



@media (max-width: 600px) {
    nav {
        display: flex;
        justify-content: center;
        /* Center the content horizontally */
        align-items: center;
        /* Center the content vertically */
        height: 60px;
        /* Adjust height as needed */
    }

    nav ul {
        display: none;
        /* Hide nav links on small screens */
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.show {
        display: flex;
        /* Show nav links when hamburger is clicked */
    }

    .hamburger-menu {
        display: block;
        /* Show hamburger menu on small screens */
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #0D1B2A;
        /* Background color */
        color: #E0E1DD;
        /* Text color */
        border: none;
        /* Remove border */
        padding: 15px 32px;
        /* Add padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove underline from text */
        display: inline-block;
        /* Display as inline-block */
        font-size: 16px;
        /* Font size */
        margin: 4px 2px;
        /* Add margin */
        cursor: pointer;
        /* Change cursor on hover */
        border-radius: 8px;
    }

    body.dark-mode .hamburger-menu {
        display: block;
        /* Show hamburger menu on small screens */
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: black;
        /* Background color */
        color: white;
        /* Text color */
        border: none;
        /* Remove border */
        padding: 15px 32px;
        /* Add padding */
        text-align: center;
        /* Center the text */
        text-decoration: none;
        /* Remove underline from text */
        display: inline-block;
        /* Display as inline-block */
        font-size: 16px;
        /* Font size */
        margin: 4px 2px;
        /* Add margin */
        cursor: pointer;
        /* Change cursor on hover */
        border-radius: 8px;
    }


    .navlist a {
        padding: 1px 0;
        /* Adds more space between links */
    }

    .navlist {
        display: none;
        /* Hide menu by default */
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjust the link spacing */
    .navlinks {
        display: block;
        /* Ensure each link is on a new line */
        padding: 3px 0;
        /* Adjust as needed for vertical spacing */
        text-align: center;
        /* Centers the text */
    }

    .navlist.show {
        display: block;
    }

    .hero_container {
        align-items: center;
        flex-direction: column;
        padding-left: 2em;
    }

    .image-container {
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
    }

    .image-box {
        max-width: 100%;
        /* Limit the max width to create space between boxes */
        margin: 0.5em;
        /* Space around each box */
        background-color: #E0E1DD;
        /* Background color for each box */
        border-radius: 8px;
        /* Rounded corners for the boxes */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Subtle shadow for depth */
        padding: 0.5em;
        /* Padding inside the box */

        .versions-container {
            align-items: center;
            flex-direction: column;
        }

        .sidebarthing {
            max-width: 30px;
            height: 32em;
            position: absolute;
            z-index: 10;
            top: 130px;
            left: 10px;
            background: #E0E1DD;
            overflow-x: hidden;
            padding: 20px 0;
            border-radius: 8px;
        }

        .sideimages {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            /* Rounded corners for the image */
            max-width: 80%;
            /* Restrict maximum width */
            display: grid;
            grid-template-columns: 3fr;
            align-items: center;
        }

        .sidebarimage:hover {
            box-shadow: none
        }

        .formedition {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}