/* Common card styles */
.company-card {
    border: 1px solid #0D1B2A;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Grid view */
.grid .company-card {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

/* List view */
.list .company-card {
    display: block;
    width: 100%;
	max-height: 50px;
}
