#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #0D1B2A;
	color: #E0E1DD;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.company-card {
	background-color: #E0E1DD;
	color: #0D1B2A;
	border-radius: 8px;
	padding: 16px;
	width: 300px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.company-card img {
	width: 90%;
	height: auto;
	padding: 10px;
}

.company-card h2,
.company-card p,
.company-card a {
	color: #0D1B2A;
	margin: 3px 0;
}

.list-view .company-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E0E1DD;
	padding: 8px 16px;
	margin-bottom: 10px;
	width: 85%;
	height: 150px;
}

.list-view .company-card.short {
	width: 100%;
}

.list-view .company-card h2,
.list-view .company-card p,
.list-view .company-card a {
	margin: 5px 0;
}

.list-view .company-card img {
	display: none;
}

@media (max-width: 500px) {
	#cards {
		flex-direction: column;
		gap: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}