.mainheader {
    display: grid;
    grid-template-columns: auto 1fr; /* Adjusts the layout: auto for image, remaining space for header */
    align-items: center;             /* Aligns items vertically in the center */
    justify-content: center;
}

.brendonspic {
    width: 50px;   /* Set the desired width for the image */
    height: auto;  /* Maintains aspect ratio */
    margin-right: 10px; /* Adjusts the space between the image and the header */
}

.myname {
    font-size: 24px;  /* Adjusts the size of the header text */
    margin: 0;        /* Removes default margins */
}


nav {}

main {}