/* Media query for screens 500px and above */
@media (min-width: 500px) {

    .navlist {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navlinks {
        padding: 0 10px;
    }

    .yay {

        grid-column: 1;
        grid-template-columns: 1fr 1fr;
        /* Two columns of equal size */
        gap: 1rem;
        /* Equal gap between columns */

    }

    .yay2 {

        grid-column: 2;
        grid-template-columns: 1fr 1fr;
        /* Two columns of equal size */
        gap: 1rem;
        /* Equal gap between columns */

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    #menu {
        display: none;
    }

    .quote {
        position: absolute;
        top: 10rem;
        left: 20rem;
        color: white;
        border: 2px solid white;
        padding: 1rem;
        opacity: 0.75;
    }
    
    .quote h3 {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: .80rem;
    }
}